# MongoDB Connection
MONGO_URI=mongodb://127.0.0.1:27017/PennywiseDB

# Server Configuration
PORT=5000
NODE_ENV=development

# Add additional environment variables as needed
# DATABASE_URL=
# JWT_SECRET=
# LOG_LEVEL=info
